#input-text{
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    border:solid #0652f7;
    font-size: 20px;
  }
  
  #btn-submit{
    padding:12px;
    border-radius: 15px;
    border:solid #0652f7;
    font-size: 15px;
    margin-left: 20px;
    background-color: #083642;
    color:white;
  }
  